        :root {
            --brand-red: #E63946;
            --brand-green: #2A9D8F;
            --brand-dark: #1D1D1D;
            --brand-cream: #FDFCF0;
            --brand-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);

            
        }


        html,
        body {
            font-family: 'Inter', sans-serif;
            color: var(--brand-cream) !important;
            border-color: var(--brand-cream) !important;
        }


        h1,
        h2,
        h3,
        .navbar-brand {
            font-family: 'Playfair Display', serif;
            font-weight: 700;
           
        }

        /* --- Animations --- */
        @keyframes fadeInSlide {
            from {
                opacity: 0;
                transform: translateY(30px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animate-up {
            animation: fadeInSlide 0.8s ease-out forwards;
        }



        .delay-1 {
            animation-delay: 0.2s;
            opacity: 0;
        }

        .delay-2 {
            animation-delay: 0.4s;
            opacity: 0;
        }

        /* --- Navbar Design --- */
        .navbar {
    background-color: var(--brand-green) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    
    position: fixed;   /* scroll karta upar nathi jato */
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1030;
}


       
        .nav-link {
            font-weight: 600;
            color: var(--brand-cream) !important;
            margin: 0 10px;
            transition: 0.3s;
        }

        .nav-link:hover {
            color: var(--brand-red) !important;
        }

        button:hover {
background-color: none !important;
        }